@charset "UTF-8";

/* Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

body {
    background: black url("../imagens/back-phone.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.767);
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#tel {display: block;}
#tablet {display: none;}
#impressora {display: none;}
#pc {display: none;}
#tv {display: none;}
