@charset "UTF-8";

/* Tela em pé */

body {
    background: url("../imagens/cev-portrait.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
